<?xml version="1.0" ?>
  <robot name="prius_hybrid">

    <material name="white">
      <color rgba="1 1 1 1"/>
    </material>

    <origin xyz="0 0 0.03" rpy="0 0 0"/>
    <link name="chassis">
      <inertial>
        <mass value="1326.0"></mass>
        <origin xyz="0 -0.266 0.48" rpy="0 0 0"/>
        <inertia ixx="2581.13354740" ixy="0.0" ixz="0.0" iyy="591.30846112" iyz="0.0" izz="2681.95008628"/>
      </inertial>

      <!-- <visual name="chassis_visual">
        <geometry>
          <mesh filename="package://prius_hybrid/meshes/Hybrid.obj">
            <scale>0.01 0.01 0.01</scale>            
          </mesh>
        </geometry>
      </visual> -->
 
      <!-- <visual name="interior_visual">
        <geometry>
          <mesh filename="package://prius_hybrid/meshes/Hybrid.obj">
            <scale>0.01 0.01 0.01</scale>
          </mesh>
        </geometry>
      </visual>

      <visual name="windows_visual">
        <geometry>
          <mesh filename="package://prius_hybrid/meshes/Hybrid.obj">
            <scale>0.01 0.01 0.01</scale>
          </mesh>
        </geometry>
      </visual>

      <collision name="chassis">
        <origin xyz="0.0 0.05 0.625" rpy="0 0 0"/>
        <geometry>
          <box size="1.7526 2.1 0.95"/>
        </geometry>
      </collision>

      <collision name="front_bumper">
        <origin xyz="0.0 -2.0 0.458488" rpy="0 0 0"/>
        <geometry>
          <box size="1.337282 0.48 0.566691"/>
        </geometry>
      </collision>

      <collision name="hood">
        <origin xyz="0.0 -1.900842 0.676305" rpy="0.341247 0 0"/>
        <geometry>
          <box size="1.597968 0.493107 0.265468"/>
        </geometry>
      </collision>

      <collision name="windshield">
        <pose>0.0 -0.875105 1.032268 0.335476 0 0</pose>
        <geometry>
          <box size="1.168381 1.654253 0.272347"/>
        </geometry>
      </collision>

      <collision name="top_front">
        <pose>0.0 0.161236 1.386042 0.135030 0 0</pose>
        <geometry>
          <box size="1.279154 0.625988 0.171868"/>
        </geometry>
      </collision>

      <collision name="top_rear">
        <pose>0.0 0.817696 1.360069 -0.068997 0 0</pose>
        <geometry>
          <box size="1.285130 0.771189 0.226557"/>
        </geometry>
      </collision>

      <collision name="rear_window">
        <pose>0.0 1.640531 1.175126 -0.262017 0 0</pose>
        <geometry>
          <box size="1.267845 1.116344 0.244286"/>
        </geometry>
      </collision>

      <collision name="trunk">
        <pose>0.0 1.637059 0.888180 0.0 0 0</pose>
        <geometry>
          <box size="1.788064 1.138988 0.482746"/>
        </geometry>
      </collision>

      <collision name="back_bumper">
        <pose>0.0 2.054454 0.577870 0.0 0 0</pose>
        <geometry>
          <box size="1.781650 0.512093 0.581427"/>
        </geometry>
      </collision>  -->
    </link>
   
    <!-- <link name="steering_wheel">
      <origin xyz="0.357734 -0.627868 0.988243" rpy="-1.302101 0 0"/>
      <inertial>
        <mass value="1.0"></mass>
        <inertia ixx="0.14583300" ixy="0.0" ixz="0.0" iyy="0.14583300" iyz="0.0" izz="0.12500000"/>
      </inertial>
      <collision name="collision">
        <geometry>
          <cylinder radius="0.178172" length="0.041845"/>
        </geometry>
        <surface>
          <contact>
            <ode>
              <min_depth>0.003</min_depth>
            </ode>
          </contact>
        </surface>
      </collision>
      <visual name="visual">
        <pose>0 0 0 1.302101 0 0</pose>
        <geometry>
          <mesh filename="package://prius_hybrid/meshes/Hybrid.obj">
            <scale>0.01 0.01 0.01</scale>
          </mesh>
        </geometry>
      </visual>
    </link>

    <link name="front_left_wheel">
      <pose>0.76 -1.41 0.3 0 0 0</pose>
      <inertial>
        <mass value="11"></mass>
        <inertia ixx="0.58631238" ixy="0.0" ixz="0.0" iyy="0.33552910" iyz="0.0" izz="0.33552910"/>
      </inertial>

      <visual name="visual">
        <pose>0.04 0.0 0.0 0 0 0</pose>
        <geometry>
          <mesh filename="package://prius_hybrid/meshes/Hybrid.obj">
            <scale>0.01 0.01 0.01</scale>
          </mesh>
        </geometry>
      </visual>

      <collision name="collision">
        <pose>0.0 0.0 0.0 0 1.5707963267948966 0</pose>
        <geometry>
          <sphere radius="0.31265"/>
        </geometry>
        <surface>
          <friction>
            <ode>
              <mu>0.9</mu>
              <mu2>0.9</mu2>
              <slip1>0.0</slip1>
              <slip2>0.0</slip2>
            </ode>
          </friction>
          <contact>
            <ode>
              <min_depth>0.001</min_depth>
              <kp>1e9</kp>
            </ode>
          </contact>
        </surface>

      </collision>
    </link>

    <link name="front_right_wheel">
      <pose>-0.76 -1.41 0.3 0 0 0</pose>
      <inertial>
        <mass value="11"></mass>
        <inertia ixx="0.58631238" ixy="0.0" ixz="0.0" iyy="0.33552910" iyz="0.0" izz="0.33552910"/>
      </inertial>
      <visual name="visual">
        <pose>-0.04 0.0 0.0 0 0 0</pose>
        <pose>0 0 0.0 0 0 0</pose>
        <geometry>
          <mesh filename="package://prius_hybrid/meshes/Hybrid.obj">
            <scale>0.01 0.01 0.01</scale>
          </mesh>
        </geometry>
      </visual>

      <collision name="collision">
        <pose>0.0 0.0 0.0 0 1.5707963267948966 0</pose>
        <geometry>
          <sphere radius="0.31265"/>
        </geometry>
        <surface>
          <friction>
            <ode>
              <mu>0.9</mu>
              <mu2>0.9</mu2>
              <slip1>0.0</slip1>
              <slip2>0.0</slip2>
            </ode>
          </friction>
          <contact>
            <ode>
              <min_depth>0.001</min_depth>
              <kp>1e9</kp>
            </ode>
          </contact>
        </surface>

      </collision>
    </link>
-->

    <link name="front_right_wheel">
    </link>

    <link name="front_left_wheel">
    </link>

    <link name="rear_left_wheel"> 
    </link>

    <link name="rear_right_wheel">
    </link>

    <joint type="fixed" name="front_left_combined_joint">
      <origin xyz="0.6727335374 -1.41 0.3" rpy="0 0 0"/>
      <parent link="chassis"/>
      <child link="front_left_wheel"/>   
    </joint>

    <joint type="fixed" name="front_right_combined_joint">
      <origin xyz="-0.8472664626 -1.41 0.3" rpy="0 0 0"/>
      <parent link="chassis"/>
      <child link="front_right_wheel"/>   
    </joint>

    <link name="rear_axle">      
    </link>

    <joint type="fixed" name="rear_axle_joint">
      <origin xyz="0 1.45 0.3" rpy="0 0 0"/>
      <parent link="chassis"/>
      <child link="rear_axle"/>   
    </joint>
    <joint type="fixed" name="rear_left_wheel_joint">
      <origin xyz="0.786 1.45 0.3" rpy="0 0 0"/>     
      <parent link="rear_axle"/>
      <child link="rear_left_wheel"/>
    </joint>
    <joint type="fixed" name="rear_right_wheel_joint">
      <origin xyz="-0.786 1.45 0.3" rpy="0 0 0"/>
      <parent link="rear_axle"/>
      <child link="rear_right_wheel"/>
    </joint>
<!-- 
    <joint name="steering_joint" type="revolute">
      <pose>-0.002 0 0 0 0 0</pose>
      <parent link="chassis"/>
      <child link="steering_wheel"/>
      <axis xyz="0 0.964095 0.265556"/>
      <limit effort="1000.0" lower="-7.85" upper="7.85" velocity="0.5"/>
      <physics>
        <ode>
          <cfm_damping>1</cfm_damping>
        </ode>
      </physics>
    </joint> -->

    <joint name="sensor_joint" type="fixed">
      <parent link="chassis"/>
      <child link="sensors"/>
    </joint>

  <!-- generate an optical frame 
      http://www.ros.org/reps/rep-0103.html#suffix-frames
      so that ros and opencv can operate on the camera frame correctly 
      -->
  <joint name="camera_optical_joint" type="fixed">   
    <origin xyz="0 0 0" rpy="-1.5707 0 -1.5707"/>
    <parent link="front_camera_sensor"/>
    <child link="camera_link_optical"/>
  </joint>

  <link name="camera_link_optical">
  </link>

  <joint name="camera_joint" type="fixed">   
    <origin xyz="0 -0.4 1.4" rpy="0 0.05 -1.5707"/>
    <parent link="sensors"/>
    <child link="front_camera_sensor"/>
  </joint>

  <link name="front_camera_sensor">
  </link>

    <link name="sensors">
      <sensor name='front_camera_sensor' type='camera'>
        <update_rate>30</update_rate>
        <always_on>0</always_on>
        <camera name='front_camera'>
          <horizontal_fov>1.39626</horizontal_fov>
          <image>
            <width>800</width>
            <height>800</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>        
      </sensor> 




      <!-- <sensor name='back_camera_sensor' type='camera'>
        <update_rate>30</update_rate>
        <camera name='back_camera'>
          <horizontal_fov>1.39626</horizontal_fov>
          <image>
            <width>800</width>
            <height>800</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <pose frame=''>0 1.45 1.4 0 0.05 1.5707</pose>
      </sensor>
      <sensor name='back_left_far_sonar_sensor' type='ray'>
        <ray>
          <scan>
            <horizontal>
              <samples>1</samples>
              <resolution>1</resolution>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.2</min>
            <max>5</max>
            <resolution>0.1</resolution>
          </range>
        </ray>
        <always_on>0</always_on>
        <update_rate>5</update_rate>
        <pose frame=''>0.7 2.4 0.5 0 -0 1.5707</pose>
      </sensor>
      <sensor name='back_left_middle_sonar_sensor' type='ray'>
        <ray>
          <scan>
            <horizontal>
              <samples>1</samples>
              <resolution>1</resolution>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.2</min>
            <max>5</max>
            <resolution>0.1</resolution>
          </range>
        </ray>
        <always_on>0</always_on>
        <update_rate>5</update_rate>
        <visualize>1</visualize>
        <pose frame=''>0.24 2.4 0.5 0 -0 1.5707</pose>
      </sensor>
      <sensor name='back_right_far_sonar_sensor' type='ray'>
        <ray>
          <scan>
            <horizontal>
              <samples>1</samples>
              <resolution>1</resolution>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.2</min>
            <max>5</max>
            <resolution>0.1</resolution>
          </range>
        </ray>
        <always_on>0</always_on>
        <update_rate>5</update_rate>
        <visualize>1</visualize>
        <pose frame=''>-0.7 2.4 0.5 0 -0 1.5707</pose>
      </sensor>
      <sensor name='back_right_middle_sonar_sensor' type='ray'>
        <ray>
          <scan>
            <horizontal>
              <samples>1</samples>
              <resolution>1</resolution>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.2</min>
            <max>5</max>
            <resolution>0.1</resolution>
          </range>
        </ray>
        <always_on>0</always_on>
        <update_rate>5</update_rate>
        <visualize>1</visualize>
        <pose frame=''>-0.24 2.4 0.5 0 -0 1.5707</pose>
      </sensor>
      <sensor name='center_laser_sensor' type='gpu_ray'>
        <ray>
          <scan>
            <horizontal>
              <samples>512</samples>
              <resolution>1</resolution>
              <min_angle>-3.14</min_angle>
              <max_angle>3.14</max_angle>
            </horizontal>
            <vertical>
              <samples>16</samples>
              <resolution>1</resolution>
              <max_angle>-0.1</max_angle>
              <min_angle>-0.35</min_angle>
            </vertical>
          </scan>
          <range>
            <min>0.2</min>
            <max>30</max>
            <resolution>0.01</resolution>
          </range>
        </ray>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <pose frame=''>0 0.4 2.0 0 0 -1.5707</pose>
      </sensor> -->      
      <!-- <sensor name='front_left_far_sonar_sensor' type='ray'>
        <ray>
          <scan>
            <horizontal>
              <samples>1</samples>
              <resolution>1</resolution>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.2</min>
            <max>5</max>
            <resolution>0.1</resolution>
          </range>
        </ray>
        <always_on>0</always_on>
        <update_rate>5</update_rate>
        <visualize>1</visualize>
        <pose frame=''>0.7 -2.1 0.5 0 0 -1.5707</pose>
      </sensor>
      <sensor name='front_left_laser_sensor' type='ray'>
        <ray>
          <scan>
            <horizontal>
              <samples>640</samples>
              <resolution>1</resolution>
              <min_angle>-2.26889</min_angle>
              <max_angle>2.2689</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.2</min>
            <max>30</max>
            <resolution>0.01</resolution>
          </range>
        </ray>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>1</visualize>
        <pose frame=''>1 -2.3 0.8 0 0.05 0</pose>
      </sensor>
      <sensor name='front_left_middle_sonar_sensor' type='ray'>
        <ray>
          <scan>
            <horizontal>
              <samples>1</samples>
              <resolution>1</resolution>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.2</min>
            <max>5</max>
            <resolution>0.1</resolution>
          </range>
        </ray>
        <always_on>0</always_on>
        <update_rate>5</update_rate>
        <visualize>1</visualize>
        <pose frame=''>0.24 -2.3 0.5 0 0 -1.5707</pose>
      </sensor>
      <sensor name='front_right_far_sonar_sensor' type='ray'>
        <ray>
          <scan>
            <horizontal>
              <samples>1</samples>
              <resolution>1</resolution>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.2</min>
            <max>5</max>
            <resolution>0.1</resolution>
          </range>
        </ray>
        <always_on>0</always_on>
        <update_rate>5</update_rate>
        <visualize>1</visualize>
        <pose frame=''>-0.7 -2.1 0.5 0 0 -1.5707</pose>
      </sensor>
      <sensor name='front_right_laser_sensor' type='ray'>
        <ray>
          <scan>
            <horizontal>
              <samples>640</samples>
              <resolution>1</resolution>
              <min_angle>-2.26889</min_angle>
              <max_angle>2.2689</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.2</min>
            <max>30</max>
            <resolution>0.01</resolution>
          </range>
        </ray>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>1</visualize>
        <pose frame=''>-1 -2.3 0.8 -0 0.05 3.14</pose>
      </sensor>
      <sensor name='front_right_middle_sonar_sensor' type='ray'>
        <ray>
          <scan>
            <horizontal>
              <samples>1</samples>
              <resolution>1</resolution>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.2</min>
            <max>5</max>
            <resolution>0.1</resolution>
          </range>
        </ray>
        <always_on>0</always_on>
        <update_rate>5</update_rate>
        <visualize>1</visualize>
        <pose frame=''>-0.24 -2.3 0.5 0 0 -1.5707</pose>
      </sensor>
      <sensor name='left_camera_sensor' type='camera'>
        <update_rate>30</update_rate>
        <camera name='left_camera'>
          <horizontal_fov>1.39626</horizontal_fov>
          <image>
            <width>800</width>
            <height>800</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <pose frame=''>1 -0.7 1 0 0.05 1</pose>
      </sensor>
      <sensor name='right_camera_sensor' type='camera'>
        <update_rate>30</update_rate>
        <camera name='right_camera'>
          <horizontal_fov>1.39626</horizontal_fov>
          <image>
            <width>800</width>
            <height>800</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <pose frame=''>-1 -0.7 1 0 0.05 2.1416</pose>
      </sensor>
      <sensor name="gps_sensor" type="gps">
        <pose>0 0 0  0 0 0</pose>
        <update_rate>10.0</update_rate>
        <always_on>true</always_on>
        <gps>
          <position_sensing>
            <horizontal>
              <noise type="gaussian_quantized">
                <mean>0</mean>
                <stddev>1</stddev>
                <bias_mean>3</bias_mean>
                <bias_stddev>1</bias_stddev>
                <precision>0.5</precision>
              </noise>
            </horizontal>
            <vertical>
              <noise type="gaussian_quantized">
                <mean>0</mean>
                <stddev>1</stddev>
                <bias_mean>3</bias_mean>
                <bias_stddev>1</bias_stddev>
                <precision>1.0</precision>
              </noise>
            </vertical>
          </position_sensing>
          <velocity_sensing>
            <horizontal>
              <noise type="gaussian_quantized">
                <mean>0</mean>
                <stddev>0.1</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.1</bias_stddev>
                <precision>0.1</precision>
              </noise>
            </horizontal>
            <vertical>
              <noise type="gaussian_quantized">
                <mean>0</mean>
                <stddev>0.2</stddev>
                <bias_mean>0.2</bias_mean>
                <bias_stddev>0.2</bias_stddev>
                <precision>0.2</precision>
              </noise>
            </vertical>
          </velocity_sensing>
        </gps>
      </sensor>
      <sensor name="imu_sensor" type="imu">
        <pose>0 0 0 0 0 0</pose>
        <always_on>1</always_on>
        <update_rate>1000.0</update_rate>
      </sensor> -->
    </link>

  </robot>