<!-- 
export ROS_IP=192.168.0.51
export ROS_MASTER_URI=http://192.168.0.51:11311/

export ROS_IP=192.168.0.133
export ROS_MASTER_URI=http://192.168.0.51:11311/

 -->

<launch>

<!-- RUN ON PC WITHOUT CAR -->
  
    <!-- play a bag with raspicam/image/compressed topic -->
    <node pkg="rosbag" type="play" name="rosbag" required="true" args="$(find path_from_image)/bagfiles/subset5.bag"/>

    <!-- republish to image raw -->
    <node name="republish_compressed_to_raw" pkg="image_transport" type="republish" args="compressed in:=/raspicam/image raw out:=/raspicam/image" />
    
    <!-- republish image and and add synchronized camerainfo -->
    <arg name="camera_info" default="$(find donkeycar)/config/camera_info.yaml" />
    <rosparam command="load" file="$(arg camera_info)" />
    <node name="republish_image_info" pkg="path_from_image" type="republish_image_info" output="screen"/>
    
    <!-- rectify image, this node takes only raw image as input -->
    <group ns="camera">
      <node name="rectify_image_proc" pkg="image_proc" type="image_proc" output="screen">
        <param name="image_transport" value="raw"/>
        <remap from="image_raw" to="image" />
      </node>
      <!-- view rectified image -->
      <node pkg="image_view" name="image_rect" type="image_view" output="screen">
          <remap from="image" to="image_rect_color" />
      </node>
      
    
    </group>

    <!-- lane detection is launched in another launch file in cmd -->

    <!-- include lane-keeping launch file -->
    <include file="$(find donkeycar)/launch/lanekeep.launch" />
    <node pkg="image_view" name="image_rect" type="image_view" output="screen">
      <param name="image_transport" value="compressed"/>
      <remap from="image" to="$(arg lane_image)" />
    </node>

    <!-- launch RVIZ -->
    <arg name="rvizconfig" default="$(find donkeycar)/config/view.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

    

</launch>
