<!-- 
export ROS_IP=192.168.0.51
export ROS_MASTER_URI=http://192.168.0.51:11311/

export ROS_IP=192.168.0.133
export ROS_MASTER_URI=http://192.168.0.51:11311/

export ROS_IP=10.65.0.221
export ROS_MASTER_URI=http://10.65.0.221:11311/

export ROS_IP=10.65.0.224
export ROS_MASTER_URI=http://10.65.0.221:11311/
 -->

<launch>

  <!-- RUN ON THE CAR -->

    <!-- include camera launch file 
    publish image
    -->
    <include file="$(find donkeycar)/launch/camera.launch" />

    <!-- include servo nodes to controll a car -->
    <include file="$(find donkeycar)/launch/servo.launch" />

    <!-- include lane-keeping launch file 
    transform image to Twist
    -->
    <include file="$(find donkeycar)/launch/lanekeep.launch" />

</launch>
