<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <env name="GAZEBO_MODEL_PATH" value="$(find donkeycar)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="$(find donkeycar)"/>

  <!-- World File -->
  <arg name="world_file" default="$(find donkeycar)/worlds/race_track.world"/>

  <!-- Launch Gazebo World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

</launch>