
<launch>
  <arg name="model" default="$(find donkeycar)/config/car.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

<!-- Publish TF messages from URDF -->
  <node type="joint_state_publisher" pkg="joint_state_publisher" name="joint_state_publisher" output="screen">
  </node>
  <node type="robot_state_publisher" pkg="robot_state_publisher" name="robot_state_publisher" output="screen">

  </node>
  
  <arg name="camera_info" default="/camera/camera_info"/>
  <arg name="rectified_image" default="/camera/image_rect_color/compressed"/>
  <arg name="warp_image" default="/path/warp_image"/>
  <arg name="matrix_topic" default="/path/transf_matrix"/>
  <arg name="lane_image" default="/path/lane_image"/>
  <arg name="img_waypoints" default="/path/img_waypoints"/>
  <arg name="path_waypoints" default="/path/path_waypoints"/>

  

<!-- img points to path in robots frame -->
  <node name="path_publisher" pkg="path_from_image" type="path_publisher.py" output="screen">
    <param name="info_topic" value="$(arg camera_info)"/>
    <param name="img_waypoints" value="$(arg img_waypoints)"/>
    <param name="path_waypoints" value="$(arg path_waypoints)"/>
    <param name="_camera_frame" value="camera_link_optical"/>
    <param name="_base_frame" value="base_footprint"/>
  </node>

    <!-- path to cmd_vel -->
  <node name="controller_node" pkg="controller" type="controller_node.py" output="screen">
      <param name="kp" value="4.0"/>
      <param name="ki" value="0.01"/>
      <param name="kd" value="0.0"/>
      <param name="velocity" value="0.5"/>
      <param name="path_waypoints" value="/path/path_waypoints"/>
  </node>

  
</launch>
