<!-- 
export ROS_IP=192.168.0.51
export ROS_MASTER_URI=http://192.168.0.51:11311/

export ROS_IP=192.168.0.133
export ROS_MASTER_URI=http://192.168.0.51:11311/

 -->

<launch>
  <arg name="playbag" default="0" />



<!-- RUN ON PC WITHOUT CAR -->
  
    <!-- load mock camera image and info publisher -->
    <node name="mock_camera" pkg="path_from_image" type="mock_camera.py" output="screen">
      <param name="image_topic" value="/raspicam/image/compressed"/>
      <param name="info_topic" value="/raspicam/camera_info"/>
      <param name="playbag" value="$(arg playbag)"/>
    </node>

    <!-- republish to image raw, if needed and rectify image -->
    <node name="republish" pkg="image_transport" type="republish" args="compressed in:=/raspicam/image raw out:=/raspicam/image" />
    <group ns="raspicam">
    <node name="rectify_image_proc" pkg="image_proc" type="image_proc" output="screen">
      <param name="image_transport" value="raw"/>
      <remap from="image_raw" to="image" />
    </node>
    <node pkg="image_view" name="image_raw" type="image_view" output="screen">
    </node>
    <node pkg="image_view" name="image_rect" type="image_view" output="screen">
        <remap from="image" to="image_rect_color" />
    </node>
    
    </group>
    <!-- include lane-keeping launch file -->
    <include file="$(find donkeycar)/launch/lanekeep.launch" />

    <node pkg="image_view" name="image_rect" type="image_view" output="screen">
      <param name="image_transport" value="compressed"/>
        <remap from="image" to="path/lane_image" />
    </node>

   
    <!-- launch RVIZ -->
    <!-- <arg name="rvizconfig" default="$(find donkeycar)/config/view.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> -->

</launch>
