<!-- 
export ROS_IP=192.168.0.51
export ROS_MASTER_URI=http://192.168.0.51:11311/

export ROS_IP=192.168.0.133
export ROS_MASTER_URI=http://192.168.0.51:11311/

 -->

<launch>
  <arg name="playbag" default="0" />



<!-- RUN ON PC WITHOUT CAR -->
  
    <!-- load mock camera image and info publisher -->
    <node name="mock_camera" pkg="path_from_image" type="mock_camera.py" output="screen">
      <param name="image_topic" value="/raspicam/image/compressed"/>
      <param name="info_topic" value="/raspicam/camera_info"/>
      <param name="playbag" value="$(arg playbag)"/>
    </node>
    <!-- 
    <node name="republish" pkg="image_transport" type="republish" output="screen">
      <param name="image_topic" value="/raspicam/image/compressed"/>
      <param name="info_topic" value="/raspicam/camera_info"/>
    </node> -->
    
    <!-- include lane-keeping launch file -->
    <include file="$(find donkeycar)/launch/lanekeep.launch" />

    <!-- launch RVIZ -->
    <!-- <arg name="rvizconfig" default="$(find donkeycar)/config/view.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> -->

</launch>
